<!DOCTYPE html>
<html>
<head>
  <title>Programatic Books Online Store</title>
  <%= stylesheet_link_tag "scaffold" %>
  <%= stylesheet_link_tag "depot", :media => "all" %>  
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body id="store">
	<div id="banner">
		<%= image_tag("logo.png") %>
		<%= @page_title || "Pragmatic Bookshelf" %>
	</div>
	<div id="columns">
		<a href="http://localhost:3000">Home</a><br />
		<a href="http://localhost:3000">Questions</a><br />
		<a href="http://localhost:3000">News</a><br />
		<a href="http://localhost:3000">Contact</a><br />
	</div>
	<div id="main">
		<%= yield %>
	</div>
</body>
</html>
